.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.navbar {
  background-color: lightskyblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar * {
  display: inline;
}

.links {
  color: black;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.links:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}

.linksRight {
  color: black;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.linksRight:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}

.textRight {
  color: black;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.titleContainer {
  padding: 0.5rem 0.5rem;
  text-align: center;
  margin: 0
}

.registerLink {
  background-color: dodgerblue;
  border: none;
  color: black;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  width: 15rem;
  cursor: pointer;
}

.registerLink:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}

.registerLink * {
  margin: 0 0;
}

.formLabel {
  width: 45%;
  text-align: right;
  padding-right: 0.5rem;
  min-width: 7rem;
}

.formLabelRequired {
  width: 45%;
  text-align: right;
  padding-right: 0.5rem;
  min-width: 7rem;
}

.submitButton {
  background-color: dodgerblue;
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem 0.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
  margin-left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  cursor: pointer;
}

.submitButton:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}

.submitButtonLoading {
  background-color: dodgerblue;
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem 0.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
  margin-left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}

.textBox {
  padding: 0.25rem 0.1rem;
  width: 15rem;
  min-width: 15rem;
  border-width: 1px;
}

.textBoxInvalid {
  padding: 0.25rem 0.1rem;
  width: 15rem;
  min-width: 15rem;
  border: 1px solid #eb516d;
}

.inline {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.linkList {
  padding-left: 1rem;
}

.formLabelRequired:after {
  content: " *";
  color: red;
}

.dropdown {
  padding: 0.25rem 0.1rem;
  width: 15rem;
  min-width: 15rem;
  border-width: 1px;
}

.tournamentContainer {
  font-weight: bold;
  text-decoration: underline;
  width: 50%;
  text-align: right;
  min-width: 7rem;
  margin-right: 0.5rem
}

.tournamentLoading {
  text-align: center;
  font-weight: bold;
  margin: 0 0
}

.deleteButton {
  background-color: red;
  border: none;
  color: black;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem 0.5rem;
  border-radius: 0.25rem;
  width: 5rem;
  cursor: pointer;
}

.deleteButton:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}

.tournament {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  border-radius: 3px;
  min-width: fit-content;
  justify-content: space-between;
}

.accessCode {
  padding: 0 1rem;
}

.tournamentRight {
  display: flex;
  margin-right: 5px;
}

.textBoxAccess {
  padding: 0.25rem 0.1rem;
  width: 5rem;
  min-width: 5rem;
  border-width: 1px;
}

.accessCodeInput {
  display: block;
  width: fit-content;
  margin-left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.inlineSubmitButton {
  background-color: dodgerblue;
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem 0.3rem;
  margin-left: 0.5rem;
  font-size: 16px;
}

.inlineSubmitButton:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}


.tournamentBorder {
  border-right: 1px solid navy;
  width: 40%
}

.tournamentContainerHome {
  font-weight: bold;
  text-decoration: underline;
  text-align: right;
  min-width: 7rem;
  margin-right: 1rem
}

.tournamentHome {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid navy;
  border-radius: 3px;
  min-width: fit-content;
}

.withdrawButton {
  background-color: red;
  border: none;
  color: black;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem 0.5rem;
  border-radius: 0.25rem;
  width: 6rem;
}

.schoolsEntered {
  margin: 0.5rem 0.5rem;
  font-size: small;
}

.inlineSplit {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  justify-content: space-between;
}

.fullWidth {
  width: 100%
}

.schoolsEnteredTitle {
  margin: 0.5rem 0.5rem;
  font-size: small;
  cursor: pointer;
}

.schoolsEnteredTitle:hover {
  text-decoration: underline;
}

.addEntriesButton {
  background-color: rgb(0, 180, 0);
  border: none;
  color: black;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1rem 0.5rem;
  border-radius: 0.25rem;
  width: 8rem;
}

.entriesTable {
  border: 1px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.entriesHeader {
  border: 1px solid;
  padding: 0.1rem 0.5rem;
}

.entriesRow {
  border: 1px solid;
  padding: 0.1rem 0.5rem
}

.center {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 47.5%;
}

.checkboxLabel {
  width: 50%;
  text-align: left;
  padding-right: 0.5rem;
  min-width: 7rem;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.formLabelChecklist {
  width: 45%;
  text-align: right;
  padding-right: 0.5rem;
  min-width: 7rem;
}

.selectAll {
  font-size: small;
  margin: auto 1% 0;
  bottom: 0;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.selectAll:hover {
  text-decoration: none;
}

.deleteButtonEntries {
  background-color: red;
  border: none;
  color: black;
  padding: 0.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 0.25rem;
  width: 4rem;
  cursor: pointer;
}

.enteredTournamentContainer {
  font-weight: bold;
  text-decoration: underline;
  width: 25%;
  text-align: right;
  min-width: 7rem;
  margin-right: 0.5rem
}

.enteredTournamentSchool {
  text-decoration: underline;
  width: 25%;
  text-align: right;
  min-width: 7rem;
  margin-right: 0.5rem
}

.description {
  font-size: x-small;
  margin-left: 15%;
  width: 28%
}

.descriptionUnderline {
  font-size: x-small;
  margin-left: 15%;
  width: 28%;
  text-decoration: underline;
}

.centerAddEvents {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 40%;
}

.addEventsLabel {
  width: fit-content;
  text-align: left;
  padding-right: 0.5rem;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.viewEvents {
  background-color: dodgerblue;
  border: none;
  color: black;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  height: fit-content
}

.viewEvents:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
  text-decoration: none;
}

.centerAddRooms {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 35%;
}

.inlineMessageItalics {
  margin: auto 0;
  font-style: italic;
  font-size: small;
}

.inlineMessage {
  margin: auto 0;
  font-size: small;
}

.tournamentEntered {
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  border-radius: 3px;
  min-width: fit-content;
  justify-content: space-between;
}

.inlineRight {
  display: flex;
  justify-content: end;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}